<header>
  <title>FAQ - Apari</title>
</header>

<h3 class="FAQ">FAQ</h3>
<div class="Questions1">
    <h2><b>General Order Questions:</b></h2>

    <h3>I have a question about an order or product. Who do I contact?</h3>
    <p>Please get in touch with us at supportapari.com.</p>

    <h3>Can I call with a question?</h3>
    <p>We do not offer phone support - please send us an e-mail with your question(s) and we’ll help you out.</p>

    <h3>Help! I ordered the wrong size. Can I change the size before it ships?</h3>
    <p>Orders can be edited or canceled within 1 hour of placing the order through your order confirmation email.</p>

    <h3>I'm looking for an item that I don't see listed on the webstore. Is the item available?</h3>
    <p>All items listed on the webstore are what we currently have available for purchase. Keep checking back for new items! </p>

    <h3>I want to purchase an item but I don’t see my size. Can you print just one in my size?</h3>
    <p>All sizes currently offered will be listed on the webstore.</p>
</div>

<div class="Questions2">
    <h2><b>Shipping:</b></h2>

    <h3>How our shop works:</h3>
    <p>We ship Monday through Friday, excluding some U.S. holidays.<br>

        Once your order has shipped, you will receive a shipment confirmation e-mail with tracking.<br>
        
        Please allow a few business days for the tracking to update. During times of higher order volume than usual, processing time may vary.</p>

    <h3>Do you ship internationally?</h3>
    <p>Yes, we do currently offer international shipping. Rates are calculated at checkout based off the receiver's location.</p>

    <h3>Duties and Import Taxes for International Customers</h3>
    <p>Any customs fees, taxes, or import fees are the responsibility of the recipient.<br>
        Duties and Import Taxes are charged upon delivery.<br>
        
        If the order arrives at its international destination and the customer refuses to pay customs, taxes, or import fees, it will be shipped back.<br>
        
        A return-to-sender fee will be subtracted from the refund if the order is refused.</p>

    <h3>What shipping carriers do you use?</h3>
    <p>All domestic orders will be shipped via FedEx, with the exception of PO Boxes, AK/HI/PR/GU/APO being shipped via USPS.</p>

    <h3>Do you offer expedited shipping options? </h3>
    <p>We do offer FedEx expedited shipping which has a 2-3 day transit time frame once the order is shipped. If you need the order delivered by a specific date, please reach out and we can let you know an estimated timeframe!</p>
</div>

<section>
    <div>
      <nav>
        <ul>
          <li>
            <a id="navbarTabs" class="mainmenu">Main Menu</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" routerLink="/home" id="navbarTabs">Home</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" routerLink="/products" id="navbarTabs">Shop</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" routerLink="/faq" id="navbarTabs">FAQ</a>
          </li>
        </ul>
        <p id="terms">© APARI 2024
          SEARCH
          SHIPPING & RETURNS
          TERMS OF SERVICE
          REFUND POLICY
          POWERED BY SHOPIFY</p>
      </nav>
    </div>
  </section>
