<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <img src="https://www.apari-shop.com/cdn/shop/files/website_logo_4.png?v=1613607844&width=125" alt="Logo" width="" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/products" id="navbarTabs">SHOP</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" id="navbarTabs">COLLABORATIONS</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/faq" id="navbarTabs">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

